<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    {% extends 'layouts/base.html' %} 
    {% block content %}
    <h1>Por ahora solo filtra por nombre</h1>
     <p> Posts con este nombre: {{titulo}}</p>
     <p> Posts con esta categoria: {{categoria}}</p>
     {% if titulos %} 
     <ol>
     {% for titulo in titulos %} 
         <li>{{titulo}}</li>
     {% endfor %}
     </ol>
     {% else %}
     <p> No hay datos con esa descripcion</p>
     {% endif %}
     <p style="color:red;">{{respuesta}}</p>
     {% endblock %}
</body>
</html>